.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

## Ignore dependencies
introverse/dependencies


#./introverse/dependencies/splicing.sqlite
#./introverse/dependencies/all_genes.rds
#./introverse/dependencies/splicing.sqlite
introverse/rsconnect
introverse/helper
introverse/paper
introverse/www/html


database_generation/database
database_generation/results